# User-specified files and directories
hw_4_1_data/
__pycache__/
results/
dust3r/
util/
create_filtered_dataset.py
# eval.py
TRUE_dust3r_inference.py
hw_4_1_data.zip

# Standard Python
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
env/
.venv/
.env/

# Jupyter Notebook
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# IDE/Editor config
.vscode/
.idea/

# Output files (like from your scripts)
*.npy